Reporting Master's Intern
 
 1409179
 
Posting Date: Feb 27, 2026
 
Description
 
2026 Summer Intern

 

Location:

This internship role is scheduled to be flexible. Please be prepared to spend part of your time working remotely and part of your time working from the following location: 4460 Hacienda Dr, Pleasanton, CA 94588.

 

Department Details:

The DevOps, BI Operations, and Managed Services organization enables reliable, scalable enterprise data and analytics by providing end-to-end operational support, including production support, incident management, and delivery of reporting enhancements. Beyond daily operations, the team leads strategic modernization efforts such as migrating legacy systems to cloud platforms like Databricks while strengthening automation, governance, data quality, and regulatory compliance. Through operational excellence and continuous improvement, the department ensures timely, accurate insights that support critical business decisions and advance organizational efficiency and innovation.

 

Internship Projects:

Research work surrounding the AI LLM chatbot project for a BI Reporting Portal.

 

Target Majors:

Computer Science; Data Science

 

Target Skillset:

Understanding of AI LLM Technologies, Python, Databricks (optional), ETL.

 

Job Summary:

Lay the groundwork for a dynamic future with an industry leader. At Kaiser Permanente, youll forge lasting relationships with colleagues across the organization while enjoying the opportunity to grow your experience and hone your expertise on assignments that have real impact. Our interns have worked on everything from analyzing financial software and developing new marketing strategies, to designing mobile apps and helping clinicians improve care delivery. We want you to get the most out of your time here and will give you projects that challenge you to think freely, question thoroughly, and explore deeply.


Essential Responsibilities:
Contributing to a designated project or initiative to meet a KP business objective.
Report development and analytics.
Project management - planning, execution, and measurement.
Learning new applications needed to complete assignments or support the execution of business objectives.
Job shadowing in other functional areas.
Performing additional duties as required.
 
Qualifications
 
Basic Qualifications:
Experience
N/A 
Education
Pursuing a graduate degree or have completed a graduate program from an accredited university within the last year.
Bachelors degree required.
License, Certification, Registration
N/A
Additional Requirements:
Aptitude to perform data and process analytics and formulating solutions.
Working knowledge of MS Word, Excel, PowerPoint.
Preferred Qualifications:
3.0 GPA or above
Advanced analytical and problem-solving skills
Proven ability to build effective working relationships as well as strong interpersonal skills
Excellent verbal and written communication skills
Ability to learn quickly and experience producing high quality work in short periods of time.
 
Primary Location: California-Oakland-Ordway
 
Regular Scheduled Hours: 40
 
Shift: Day
 
Working Days: Mon, Tue, Wed, Thu, Fri
 
Start Time: 08:00 AM
 
End Time: 05:00 PM
 
Job Schedule: Full-time
 
Job Type: Internship
 
Employee Status: Regular
 
Job Level: Entry Level
 
Job Category: Data Analytics
 
Public Department Name: KPI Foundation Data
 
Travel: No:
 
Employee Group: NUE-PO-02|NUE|Non Union Employee
 
Posting Salary Low : 32.45
 
Posting Salary High: 41.99
 
Sign-on Bonus: 
 
Employee Referral Bonus: 
 
 
Kaiser Permanente is an equal opportunity employer committed to fair, respectful, and inclusive workplaces. Applicants will be considered for employment without regard to race, religion, sex, age, national origin, disability, veteran status, or any other protected characteristic or status.